/* media queries for mobile device */

@media screen and (max-width: 576px) {

    .container,
    .menus,
    .cards {
        flex-direction: column;
    }

    /* nav -part */
    .menu-container,
    .menus {
        gap: 30px;
    }

    /* banner part */

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-right {
        height: 450px;
    }

    .banner-left {
        height: 315px;
        width: 100%;
        background-size: contain;
        padding-bottom: 50px;
    }

    .banner-right img {
        width: 85%;
        height: 65%;
        padding: 50px 28px;
    }

    /* gamer part */
    .gamer-img {
        padding: 0;
    }

    .gamer-img img {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .gamer-text {
        width: 90%;
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .unleash-text {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    /* funny videos part */
    .f-video-tittle {
        font-size: 2rem;
    }

    /* play games part */
    .play-games-img .p-games-img2 {

        width: 35%;
        position: relative;
        top: -80px;
        left: 210px;
    }

    /* various games part */
    .games {
        padding: 5px;
    }

    .games .v-games-description {
        font-size: 0.5rem;
    }

    .games img {
        width: 50%;
    }

    .various-games-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        margin-bottom: 50px;
    }

    .various-games-container .games:hover {
        background: #FFF;
        border: 1px solid #F948B2;
        border-radius: 40px;
        cursor: pointer;
    }

    .various-games-container .v-games-description:hover {
        color: #FF42A5;
    }

    /* footer part */

    .footer-text,
    .footer-icons,
    .footer-description {
        width: 90%;
        flex-wrap: wrap;
    }

    .footer-icons {
        width: 40%;
        gap: 30px;
    }

    .copy-right-text {
        font-size: 0.8rem;
    }

}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {

    .container,
    .menus,
    .cards {
        flex-direction: column;
    }

    /* nav -part */
    .menu-container,
    .menus {
        gap: 30px;
    }

    .logo {
        margin-top: 25px;
    }

    /* banner part */

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-right {
        width: 100%;
        height: 100%;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right img {
        width: 85%;
        height: 65%;
        padding: 50px 28px;
    }

    /* gamer part */
    .gamer-img {
        padding: 0;
    }

    .gamer-img img {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .gamer-text {
        width: 80%;
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .unleash-text {
        font-size: 2rem;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    /* funny videos part */

    .funny-videos-container .cards {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    /* play games part */
    /* .play-games-container {
        gap: 0;
    } */

    .games {
        padding: 5px;
    }

    .games img {
        width: 30%;
    }

    .various-games-container {
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        margin-bottom: 50px;
    }

    .various-games-container .games:hover {
        background: #FFF;
        border: 1px solid #F948B2;
        border-radius: 40px;
        cursor: pointer;
    }

    .various-games-container .v-games-description:hover {
        color: #FF42A5;
    }


}