/* media queries for mobile device */

@media screen and (max-width: 576px) {

    .container,
    .menus,
    .cards {
        flex-direction: column;
    }

    .menu-container,
    .menus {
        gap: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-left {
        width: 100%;
        background-size: contain;
    }

    .banner-right img {
        width: 85%;
        height: 65%;
        padding: 50px 28px;
    }

    .gamer-img {
        padding: 0;
    }

    .gamer-img img {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .gamer-text {
        width: 90%;
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .unleash-text {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .f-video-tittle {
        font-size: 2rem;
    }

    .card {
        padding: 20px;
    }

    .play-games-img .p-games-img2 {

        width: 35%;
        position: relative;
        top: -80px;
        left: 210px;

    }

    .various-games-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-text,
    .footer-icons,
    .footer-description {
        width: 90%;
        flex-wrap: wrap;
    }




}